.mat-list-padding{
  padding-left: 25px;
  padding-right: 25px;
  padding-top:0;
  padding-bottom: 0;
  max-height: 70px;
}

.result-img{
  padding: 50px 50px 50px;
}

.results-box{
  margin-bottom: 40px;
}

.thatimg{
  padding-right: 0px;
}

.button-vote{
  height: 60px;
  width: 200px;
}

.button-vote-text{
  font-size: 18px;
  text-transform: uppercase;
}

.thatimgvote{
  width: 100px;
}
