<div id="contentpaddingfirst">
  <div class="content">
      <div id="carouselExampleSlidesOnly" class="container-dark carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="cta-slider d-block w-100">
              <div class="cta-slider-bloc">
                <img class="cta-slider-bloc-image cta-shadow" src="../../assets/images_cb_cpb/citron1.png"/>
                <div class="cta-slider-bloc-text">
                  <p class="cta-slider-bloc-text-title cta-text-underline">Le Citron</p>
                  <div class="cta-slider-bloc-content-cbcpb">
                    <div class="cta-slider-bloc-content-cb">
                        <img class="cta-slider-bloc-content-cb " src="../../assets/thatsgood.png"/>
                        <p class="cta-slider-bloc-content-title">10100</p>
                    </div>
                    <div class="cta-slider-bloc-content-cpb">
                        <img class="cta-slider-bloc-content-cb" src=".../../assets/thatsnotgood.png"/>
                        <p class="cta-slider-bloc-content-title">458</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cta-slider d-block w-100">
              <div class="cta-slider-bloc">
                <img class="cta-slider-bloc-image cta-shadow" src="../../assets/images_cb_cpb/gorille.png"/>
                <div class="cta-slider-bloc-text">
                  <p class="cta-slider-bloc-text-title cta-text-underline">Le Gorille</p>
                  <div class="cta-slider-bloc-content-cbcpb">
                    <div class="cta-slider-bloc-content-cb">
                        <img class="cta-slider-bloc-content-cb" src="../../assets/thatsgood.png"/>
                        <p class="cta-slider-bloc-content-title">10100</p>
                    </div>
                    <div class="cta-slider-bloc-content-cpb">
                        <img class="cta-slider-bloc-content-cb" src=".../../assets/thatsnotgood.png"/>
                        <p class="cta-slider-bloc-content-title">458</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="cta-slider d-block w-100">
              <div class="cta-slider-bloc">
                <img class="cta-slider-bloc-image cta-shadow" src="../../assets/images_cb_cpb/chien.png"/>
                <div class="cta-slider-bloc-text">
                  <p class="cta-slider-bloc-text-title cta-text-underline">Le Chien</p>
                  <div class="cta-slider-bloc-content-cbcpb">
                    <div class="cta-slider-bloc-content-cb">
                        <img class="cta-slider-bloc-content-cb" src="../../assets/thatsgood.png"/>
                        <p class="cta-slider-bloc-content-title">10100</p>
                    </div>
                    <div class="cta-slider-bloc-content-cpb">
                        <img class="cta-slider-bloc-content-cb" src=".../../assets/thatsnotgood.png"/>
                        <p class="cta-slider-bloc-content-title">458</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-dark container-dark-margin">
        <div class="container-dark-padding">
          <div class="list-item-title-list list-item-title font-display list-item-title-principal-color">Le vote du jour</div>
          <div class="block-card">
            <!--li class="card"-->
              <div class="cta-center cta-padding-top-40">                                                     
                <div class="cta-text cta-margin cta-intro cta-no-margin-top">
                  <b class="cta-content-bold cta-content-italic cta-color-normal">"La galette des rois, c'est bien ou ce n'est pas bien ?"</b>
                  <div class="cta-content-button-right">
                    <div class="cta-content-button-intro">
                      <button class="cta-button-intro">
                        <div class="cta-inline-content">
                          <div class="cta-inline-content-end">
                            <img class="cta-icon-intro" src="../../assets/thatsgood.png"/>
                          </div>
                        </div>
                      </button>
                    </div>
                    <div class="cta-content-button-intro">
                      <button class="cta-button-intro">
                        <div class="cta-inline-content">
                          <div class="cta-inline-content-end">
                            <img class="cta-icon-intro" src="../../assets/thatsnotgood.png"/>
                          </div>
                        </div>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            <!--/li-->
          </div>
        </div>
      </div>
      <div class="container-dark container-dark-margin">
        <div class="container-dark-padding">
          <div class="list-item-title-list list-item-title font-display list-item-title-principal-color">Les derniers votes</div>
          <div class="cta-padding-top-40">                                                     
            <div class="cta-text cta-margin cta-intro cta-no-margin-top">
              <app-scrolling-card></app-scrolling-card>
            </div>
          </div>
        </div>
      </div>
      <div class="container-dark container-dark-margin">
        <div class="container-dark-padding">
          <div class="list-item-title-list list-item-title font-display list-item-title-principal-color">Tous les votes</div>
          <div class="cta-padding-top-40">
            <div class="cta-line-bloc">
              <div class="cta-line-bloc-content">
                <img class="cta-slider-bloc-content-cb cta-slider-bloc-content-img-60" src="../../assets/countries/icons/france.png"/>
                <p class="cta-line-bloc-content-text list-item-title cta-line-bloc-content-text-25">France</p>
                <div>
                  <div style="
                    display: flex;
                    align-items: center;
                "><img src="../../assets/thatsgood.png" class="cta-icon-intro" style="
                    width: 60px;
                "><p style="
                    margin-bottom: 0px;
                    font-weight: bold;
                ">: 28668</p></div>
                <div style="
                      display: flex;
                      align-items: center;
                      justify-content: left;
                  "><img src="../../assets/thatsnotgood.png" class="cta-icon-intro" style="
                      width: 60px;
                  "><p style="
                      margin-bottom: 0px;
                      font-weight: bold;
                  ">: 342</p></div>
                </div>
              </div>
              <div class="cta-line-bloc-content">
                <img class="cta-slider-bloc-content-cb cta-slider-bloc-content-img-60" src="../../assets/countries/icons/globe.svg"/>
                <p class="cta-line-bloc-content-text list-item-title cta-line-bloc-content-text-25">Dans le Monde</p>
                <div>
                  <div style="
                    display: flex;
                    align-items: center;
                "><img src="../../assets/thatsgood.png" class="cta-icon-intro" style="
                    width: 60px;
                "><p style="
                    margin-bottom: 0px;
                    font-weight: bold;
                ">: 28668</p></div>
                <div style="
                      display: flex;
                      align-items: center;
                      justify-content: left;
                  "><img src="../../assets/thatsnotgood.png" class="cta-icon-intro" style="
                      width: 60px;
                  "><p style="
                      margin-bottom: 0px;
                      font-weight: bold;
                  ">: 342</p></div>
                </div>
              </div>
              <div class="cta-line-bloc-content">
                <img class="cta-slider-bloc-content-cb cta-slider-bloc-content-img-60" src="../../assets/countries/icons/info.png"/>
                <p class="cta-line-bloc-content-text list-item-title cta-line-bloc-content-text-25">Mais à quoi<br/>ça sert ?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>