.messagePadding{
  padding-left:25px;
  padding-right: 25px;
}

.messageStyle{
  padding-left:30px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  font-style: italic;
  background-color: #fff;
}

.noMessageStyle{
  padding-left:30px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}
