<div class="container">
  <ul class="cards">
    <li class="card">
      <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
      <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/gorille.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Gorille
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/chien.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Chien
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  <li class="card">
    <div>
        <div _ngcontent-ng-c3313230189="" class="cta-slider-bloc">
          <img _ngcontent-ng-c3313230189="" src="../../../assets/images_cb_cpb/citron1.png" class="cta-slider-bloc-image cta-shadow cta-slider-bloc-image-slider">
        </div>
        <h3 class="card-title">Le Citron
          <div class="cta-slider-bloc-content-cbcpb">
            <div class="cta-slider-bloc-content-cb">
              <img src="../../assets/thatsgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">10100</p>
            </div>
            <div class="cta-slider-bloc-content-cpb">
              <img src=".../../assets/thatsnotgood.png" class="cta-slider-bloc-content-cb">
              <p class="cta-slider-bloc-content-title">58</p>
            </div>
          </div>
        </h3>
      </div>
    <!--div class="card-link-wrapper">
      <a href="" class="card-link">Learn More</a>
    </div-->
    <div class="card-link-wrapper">
      <div class="cta-center cta-content-button">
        <button class="cta-button cta-button-slider">
          <div class="cta-inline-content">
            <div class="cta-inline-content-center">
              <img src="../../assets/vote_icon_4.png" class="cta-icon">
              <span class="cta-title cta-title-button">Votez</span>
            </div>
          </div>
        </button>
      </div>
    </div>
  </li>
  </ul>
</div>