.errorStyle{
  padding-left:30px;
  padding-right: 10px;
  padding-top: 20px;
  padding-bottom: 0px;
  color: red;
  font-style: italic;
  background-color: #fff;
}

.noErrorStyle{
  padding-left:30px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #fff;
}

.errorStyleProfil{
  padding-left:25px;
  padding-right: 25px;
}
